ETH_NETWORK=sepolia
ETH_NODE_URL=https://eth-sepolia.g.alchemy.com/v2/acdVas6dAF7wfvGecwcGB
ETH_WALLET_ADDRESS=0x99e4F29730B2e6e1911Ed0b6f425c1E793dAE353
ETH_PRIVATE_KEY=REPLACE_WITH_PRIVATE_KEY_NO_0x
ETH_CONTRACT_ADDRESS=0xREPLACE_WITH_CONTRACT_ADDRESS
BLOCKCHAIN_ENABLED=false
